.popup-content{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.popup-body{
    text-align: left;
}
.popup-body ul{
    padding: 0px;
}
.popup-body li{
    list-style-type: none;
    padding: 5px 10px !important;
    border-bottom: 1px solid #323e4c;
}