<!--The content below is only a placeholder and can be replaced.-->
<router-outlet>
  <div class="container-fluid">
    <nav class="Navbar">
      <div class="col-sm-1 mx-auto my-auto">
        Navbar
      </div>
      <div class="col-sm-4 mx-auto my-auto d-none d-md-block d-lg-block">
        <ul class="navItems">
          <li>
            Home
          </li>
          <li>
            Store
          </li>
          <li>
            Channels
          </li>
          <li class="categoryCls" (mouseover)="showCategory($event, true)" (mouseleave)="showCategory($event, false)" (click)="showCategory($event)">
            Categories
            <div class="modalCls" (mouseover)="showCategory($event, true)" *ngIf="showCategoryPopup">
              <app-category-popup ></app-category-popup>
            </div>
          </li>
          <li>
            My stuff
          </li>
        </ul>
        
      </div>
      <div class="col-sm-3 d-lg-none d-xl-block m-auto">
        <div class="d-flex flex-row justify-content-end borderCls" [ngClass]="showSearchBar ? 'transform-active':''">
          <button class="fa fa-search searchCls py-1" (click)="showSearchBarFn($event, true)"
          [ngClass]="showSearchBar ? 'transform-active':''"></button>
          <input type="search" #input class="inputCls py-1" placeholder="Search" (focusout)="showSearchBarFn($event, false)" 
          [ngClass]="showSearchBar ? 'transform-active':''" autofocus>
        </div>
      </div>
      <div class="col-sm-3 d-md-none d-lg-block"></div>
    </nav>
    <app-home></app-home>
  </div>
</router-outlet>
